package web

templ Failed() {
<button
	class="text-7xl font-mono font-extrabold text-white w-1/4 h-1/5 rounded-full shadow-lg bg-gradient-to-r from-red-500 to-yellow-500 hover:from-red-600 hover:to-yellow-600 justify-center items-center text-white text-2xl hover:border-4 hover:border-b-yellow-700 hover:border-t-yellow-700"
	hx-swap="outerHTML" hx-get="http://localhost:8080/repeat">
	<h2 class="tracking-normal text-4xl">Biboo taxed!</h2>
</button>
}
