package web

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Test Page</title>
		<script src="https://unpkg.com/htmx.org@2.0.0"></script>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="w-screen h-screen dark:bg-slate-800">
	{ children... }
	</body>
	</html>
}

