package web

templ Repeat() {
<button
	class="w-1/4 h-1/5 rounded-full shadow-lg bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:from-indigo-600 hover:via-purple-600 hover:to-pink-600 justify-center items-center text-white text-2xl hover:border-4 hover:border-b-pink-700 hover:border-t-pink-700"
	hx-swap="outerHTML" hx-get="http://localhost:8080/login-form">
	<h2 class="tracking-wide text-4xl">Pablo</h2>
</button>
}
