package web

templ Success() {
<button
	class="text-7xl font-mono font-extrabold text-white w-1/4 h-1/5 rounded-full shadow-lg bg-gradient-to-r from-green-500 to-blue-500 hover:from-green-600 hover:to-blue-600 justify-center items-center text-white text-2xl hover:border-4 hover:border-b-blue-700 hover:border-t-blue-700"
	hx-swap="outerHTML" hx-get="http://localhost:8080/repeat">
	<h2 class="tracking-normal text-4xl">Go Back!</h2>
</button>
}
